<nav class="w-full h-full rounded">
	<div
		class="h-full overflow-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800"
	>
		<ul class="space-y-2">
			<li>
				<a
					routerLinkActive="bg-gray-100 dark:bg-gray-700"
					[routerLink]="['/create-candidate']"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
				>
					<fa-icon
						[icon]="faList"
						class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
					></fa-icon>

					<span class="ml-3"> إدارة المرشحين</span>
				</a>
			</li>

			<li>
				<a
					routerLinkActive="bg-gray-100 dark:bg-gray-700"
					[routerLink]="['/stats']"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
				>
					<fa-icon
						[icon]="faChartPie"
						class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
					></fa-icon>

					<span class="flex-1 ml-3 whitespace-nowrap">إحصائيات</span>
					<!-- <span
            class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:bg-blue-900 dark:text-blue-200"
            >3</span> -->
				</a>
			</li>

			<li>
				<a
					routerLinkActive="bg-gray-100 dark:bg-gray-700"
					[routerLink]="['/vote']"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
				>
					<fa-icon
						[icon]="faCheckToSlot"
						class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
					></fa-icon>

					<span class="flex-1 ml-3 whitespace-nowrap">تصويت</span>
				</a>
			</li>
			<li>
				<a
					(click)="authService.SignOut()"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
				>
					<fa-icon
						[icon]="faRightFromBracket"
						class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
					></fa-icon>

					<span class="flex-1 ml-3 whitespace-nowrap">تسجيل خروج</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
