<app-top-navbar></app-top-navbar>

<div class="lg:grid grid-cols-12 gap-2 p-4">
	<div class="col-span-2 h-full">
		<app-side-navbar></app-side-navbar>
	</div>

	<main class="col-span-10">
		<div
			*ngIf="authService.isElectionEnded"
			class="p-4 mb-4 text-xl text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800"
		>
			<span class="font-medium"> الانتخابات قد انتهت!</span> يمكنك التحقق من
			النتيجة.
		</div>

		<div
			*ngIf="hasAlreadyVoted"
			class="p-4 mb-4 text-xl text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800"
		>
			<span class="font-medium"> شكرا لتصويتك!</span>
		</div>

		<!-- Total voters: {{ tutorials?.length }}

    Male voters: {{ maleVoters }} Female voters: {{ femaleVoters }} -->
		<div class="">
			<div
				class="text-4xl pt-3 pb-6 mb-6 border-b text-gray-900 dark:text-white"
			>
				<h1>قائمة المرشحين</h1>
			</div>
			<!-- Show user data when logged in -->
			<div class="flex flex-wrap gap-6" *ngIf="authService.userData as user">
				<div
					class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
					*ngFor="let candidate of candidates; let i = index"
				>
					<div class="flex flex-col items-center p-10">
						<img
							class="mb-3 w-24 h-24 rounded-full shadow-lg object-cover"
							src="{{
								candidate.name === 'Hichem Fantar'
									? 'https://avatars.githubusercontent.com/u/34947993?v=4'
									: candidate.name === 'Karim Ben Khaled'
									? 'https://i.imgur.com/6cIJxyw.jpg'
									: candidate.name === 'Bassem Gouty'
									? 'https://i.imgur.com/IZwIbyl.jpg'
									: ''
							}}"
							alt="{{ candidate.name }}"
						/>
						<h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
							{{ candidate.name }}
						</h5>
						<!-- <span class="text-sm text-gray-500 dark:text-gray-400"
              >عدد الأصوات</span
            > -->
						<div
							class="flex mt-4 space-x-3 md:mt-6 justify-center items-center gap-4"
						>
							<!-- <a
                  href="#"
                  class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >{{ candidate.voteCount }}</a
                > -->
							<h5 class="text-xl font-medium text-gray-900 dark:text-white">
								عدد الأصوات
							</h5>
							<button
								class="text-xl inline-flex items-center py-2 px-4 font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
							>
								{{ candidate.voteCount }}
							</button>
						</div>
						<button
							*ngIf="!authService.isElectionEnded && hasAlreadyVoted === false"
							class="w-full mt-4 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
							(click)="castVote(i, authService.userData.uid)"
							type="button"
						>
							صوت الان
						</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
