<app-top-navbar></app-top-navbar>

<div class="lg:grid grid-cols-12 gap-2 p-4">
	<div class="col-span-2 h-full">
		<app-side-navbar></app-side-navbar>
	</div>

	<main class="col-span-10">
		<!-- <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'"
      >
      </canvas> -->
		<div class="px-4">
			<div
				class="text-4xl pt-3 pb-6 mb-6 border-b text-gray-900 dark:text-white"
			>
				<h1>إحصائيات</h1>
			</div>
			<!-- Show user data when logged in -->
			<div class="flex flex-wrap" *ngIf="authService.userData as user">
				<div class="" style="width: 400px">
					<div class="media" style="text-align: center">
						<div class="media-body">
							<h1>الناخبون الذكور</h1>

							<strong style="font-size: 50px">{{ maleVoters }}</strong>
							<!-- <p>
                  Email: <strong>{{ user.email }}</strong>
                </p> -->
							<!-- <p>
                  Email Verified: <strong>{{ user.emailVerified }}</strong>
                </p> -->
						</div>
					</div>
				</div>
				<div class="" style="width: 400px">
					<div class="media" style="text-align: center">
						<div class="media-body">
							<h1>الناخبات</h1>

							<strong style="font-size: 50px">{{ femaleVoters }}</strong>
							<!-- <p>
                  Email: <strong>{{ user.email }}</strong>
                </p> -->
							<!-- <p>
                  Email Verified: <strong>{{ user.emailVerified }}</strong>
                </p> -->
						</div>
					</div>
				</div>
				<div class="" style="width: 400px">
					<div class="media" style="text-align: center">
						<div class="media-body">
							<h1>ناخبون مع إعاقة</h1>

							<strong style="font-size: 50px">{{ users?.length }}</strong>
							<!-- <p>
                  Email: <strong>{{ user.email }}</strong>
                </p> -->
							<!-- <p>
                  Email Verified: <strong>{{ user.emailVerified }}</strong>
                </p> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">إحصائيات المرشحين</h1>
			</div>
			<div style="display: flex; justify-content: center">
				<canvas
					baseChart
					[type]="'pie'"
					[datasets]="pieChartDatasets"
					[labels]="pieChartLabels"
					[options]="pieChartOptions"
					[plugins]="pieChartPlugins"
					[legend]="pieChartLegend"
					[height]="500"
				>
				</canvas>
			</div>
		</div>
	</main>
</div>
